a {outline: none; text-decoration:none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }
body {font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;font-size:16px;line-height:1.6;}
*{*zoom:1;}
*{margin:0px;padding:0px;}
ul,li {list-style:none;}
.cl:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.cl {zoom:1;}
.fll {float:left;}
.flr {float:right;}


/* index */
.main {
	width:100%;
	height:100%;
}

.home_top {
	width:240px;
	height:50px;
	padding-top:25px;
	margin:0 auto;
}

.home_logo {
	width:50px;
}

.home_logo img {
	width:50px;
	height:50px;
	border-radius:3px;
}

.home_h2 {
	line-height:20px;
	margin:10px 0 0 25px;
}

.home_middle {
	width:100%;
	height:100%;
	margin-top:15%;
}

.home_middle li {
	margin:10px;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 6px;
}

.home_middle li a {
	overflow: hidden;
	display:block;
	text-align:center;
	font-size:23px;
	line-height:40px;
	color:#000;
}

.home_middle li a:after {
	right: 25px;
	content: ">";
	position: absolute;
	color: #BBB;
	font-size:20px;
	font-weight:bold;
}





/* category */
.category_top {
	width:100%;
	height:54px;
}

.menu {
	width:100%;
	margin:0 auto;
	position:relative;
}

.menu_position, #pop_menu {
	position:absolute;
	left:8%;
	top:15px;
	cursor: pointer;
}

.menu img, #pop_menu {
	width:30px;
	height:23px;
}

#display_menu {
	display:none;
	position:absolute;
	top:40px;
	left:50%;
	margin-left:-35px;
	background:#000000;
}

.menu_arrow {
	position:absolute;
	top:-9px;
	left:50%;
	margin-left:-10px;
	display:block;
	height:0;
    width:0;
	border-color: transparent;
	border-style: solid;
	border-width:10px;
	border-top-width: 0px;
	border-bottom-color:#000;
    *overflow: hidden;
    *font-size: 0;
    *line-height: 0;
    *border-color:transparent transparent  #12ad2a transparent;
    *border-style:dashed dashed solid dashed;
    *border-width:10px;
}

#display_menu ul li {
	width:60px;
	padding:0 5px;
	text-align:center;
}

#display_menu ul li a {
	color:#fff;
}

.category_logo {
	margin:0 auto;
	width:112px;
	height:54px;
	position:relative;
}

.category_logo img {
	position:absolute;
	top:50%;
	margin-top:-13px;
	vertical-align:middle;
}

.category {
	width:100%;
	height:100%;
}

.category_all {
	padding:10px;
}

.category_detail {
	height:165px;
	*margin:0px 10px;
	*display:inline-block;
	padding-top:15px;
	border-top: 1px solid #E7E7EB;
	*display:inline;
}

.category_image {
	height:120px;
}

.category_image img {
	width:100%;
	height:120px;
}

.category_title {
	width:100%;
	height:30px;
}

.category_title a {
	font-weight: 700;
	font-size: 17px;
	color: #259;
	padding:2px 0px 0px 5px;
	display:block;
}

.category_title a:hover {
	background: none repeat scroll 0% 0% #369;
	color: #FFF;
}





/* single */
.single {
	padding:5px 10px;
}

.single_inner {
	*position: relative;
	background-color: #FFF;
	*border-width: 0px 1px 1px;
	*border-style: solid;
	*border-color: #D9DADC;
}

.single_inner h2 {
	height:35px;
	margin-bottom: 5px;
	border-bottom: 1px solid #E7E7EB;
	line-height: 35px;
	font-weight: 700;
	font-size: 20px;
	word-wrap: break-word;
	font-style: normal;
}

.single_info_common {
	display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    margin-right: 0.5em;
    font-size: 12px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: none;
}

.single_info em {
	color: #8C8C8C;
}

.single_info a {
	color: #607FA6;
}

.single_detail {
	min-height: 350px;
	margin-top: 18px;
	color: #3E3E3E;
	word-wrap: break-word;
}

.single_detail_content, .single_detail_img {
    margin-top: 18px;
}

.single_detail_img {
	margin:0 auto;
}

.single_detail_img img {
	width:100%;
}

.single_detail_content p {
	text-indent:2em;
	margin-bottom:11px;
}

.single_bottom {
padding: 18px 0px;
font-size: 14px;
}

.single_bottom:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
	visibility:hidden;
}

.single_bottom a {
	text-decoration: none;
}

.single_bottom_sitename {
	float: left;
	margin-right: 14px;
	color: #607FA6;
}

.single_bottom_aboutus {
	color: #8C8C8C;
	float: right;
	margin-left: 14px;
}

.single_weixin {
	position:fixed;
	left: 0px;
	right: 0px;
	top: 20px;
	color: #717375;
	text-align: center;
}

.single_weixin p {
	font-size: 14px;
	line-height: 20px;
}

.single_weixin_inner {
	position: relative;
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

.single_weixin_inner_img {
	position: absolute;
	right: -200px;
	top: 0px;
	padding: 16px;
	border: 1px solid #D9DADC;
	background-color: #FFF;
}

.single_weixin_inner_img p {
	font-size: 14px;
	line-height: 20px;
}

.single_weixin_inner_img img {
	width: 150px;
	height: 150px;
}

.footer {
	width: 100%;
	height: 50px;
	margin:0 auto;
	line-height: 50px;
	font-family: arial;
	font-size: 14px;
	text-align: center;
	color: #000;
}
