a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }

*{
	*zoom:1;
}

*{
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
}

ul,li {
	list-style:none;
}





.main {
position:fixed;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
}

.top_middle {
	margin-top:40px;
}

.top_middle li {
	margin:10px;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 6px;
}

.top_middle li a {
	overflow: hidden;

	font-size:23px;
	line-height:40px;
	color:#000;
}


