a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }

*{
	*zoom:1;
}

*{
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
}

ul,li {
	list-style:none;
}





.main {
	width:100%;
	height:100%;
}

.top_top {
	width:100%;
	height:100%;
}

.top_middle {
	width:100%;
	height:100%;
	margin-top:40px;
}

.top_middle li {
	margin:10px;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 6px;
}

.top_middle li a {
	overflow: hidden;
	display:block;
	text-align:center;
	font-size:23px;
	line-height:40px;
	color:#000;
}

.top_bottom {
	width:800px;
	height:40px;
}

.top_logo {
	width:250px;
	height:50px;
	margin:0 auto;
}
